################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/
/bin/
/Strategies.Api/.vs
/Strategies.Api/.bin
/Strategies.Api/.obj
/Strategies.Api/Strategies.Api/.vs
/Strategies.Api/Strategies.Api/bin/
/Strategies.Api/Strategies.Api/obj/
